/* KLEUR SCHEMA 
red: #E41A1B
blue: #85BEC3
green: #BBDB9B
gray: #BEC5AD
*/


/* FONTS */
@font-face{
    src: url(fonts/bahnschrift.ttf) format(ttf);
    font-family: bahnschrift;
    
}




/* FONT STYLES */
.heading{
    font-size: 50px;
    font-family: bebas-neue, sans-serif;
}

.paragraph {
    font-size: 15px;
    font-family: bahnschrift;
}

.navigatie {
    font-size: 30px;
    font-family: bebas-neue, sans-serif;
    color: white;
    padding: 25px;
    
}


/* BANNER*/

.index-banner{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.index-banner2{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel2_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 


.index-banner3{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel\ 4_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.index-banner4{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel\ over\ mij_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.index-banner h1 {
    font-size: 95px;
    font-family: bebas-neue, sans-serif;
    color: #E41A1B;
    text-align: center;
}

.index-banner h2 {
    font-size: 95px;
    font-family: bebas-neue, sans-serif;
    color: white;
    text-align: center;
}

.index-banner2 h1 {
    font-size: 95px;
    font-family: bebas-neue, sans-serif;
    color: #E41A1B;
    text-align: center;
}

.index-banner2 h2 {
    font-size: 95px;
    font-family: bebas-neue, sans-serif;
    color: white;
    text-align: center;
}



.index-banner3 h1 {
        font-size: 95px;
        font-family: bebas-neue, sans-serif;
        color: #E41A1B;
        text-align: center;
    }   
    
    
.index-banner3 h2 {
        font-size: 95px;
        font-family: bebas-neue, sans-serif;
        color: white;
        text-align: center;
    }
   
.index-banner4 h1 {
        font-size: 95px;
        font-family: bebas-neue, sans-serif;
        color: #E41A1B;
        text-align: center;
    }   

.index-banner4 h2 {
        font-size: 95px;
        font-family: bebas-neue, sans-serif;
        color: white;
        text-align: center;
    }

.center-1 {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 45%;
    left: 50%;
    margin-left: -250px; 
    margin-top: -25px; }

 .center-2 {
        position: absolute;
        width: 500px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-left: -250px; 
        margin-top: -25px; }


.watermanagment-center {
            position: absolute;
            width: 500px;
            height: 100px;
            top: 45%;
            left: 50%;
            margin-left: -310px; 
            margin-top: -25px; }

.watermanagment-center2{
    position: absolute;
        width: 500px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-left: -310px; 
        margin-top: -25px; 
}


/* INLEIDING */        

.block{
    background-color: #bec5ad;
    color: white;
    padding: 60px;
    height: 200px;

}

h1 {
    text-align: center;
    font-family: bebas-neue, sans-serif;
    margin-top: -20px;
}

p { 
    width: 500px;
    margin-left: 445px;
    text-align: justify;
}

/* MEKONG */
.p {
    width: 500px;
    margin-left: -345px;
    margin-top: -20px;
   text-align: justify;
}

h2{
    margin-left: 100px;
    margin-top: 150px;
}
/* RMS */
.p2 {
    width: 500px;
    margin-left: 460px;
   text-align: right;
   margin-top: -30px;
}

.rms {
    margin-left: 1190px;
    margin-top: -500px;
}

/* logo */

.logo{
    width: 90px;
   
}

.foto-mekong {
    width: 600px;
    margin-top: -1900px;
    margin-bottom: -80px;
    margin-left: 1200px;
    
}


.foto-rms{
    width: 600px;
    margin-left: 350px;
    margin-top: 150px;
}


body{
    margin: 0px;
}


 /*geschiedenis*/
 


.p3 {
    width: 500px;
   text-align: justify;
   margin-top: -30px;
   margin-left: 740px;
   margin-bottom: 100px;
}


.rms-g {
    width: 190px;
    margin-top: -1750px;
    margin-left: 1525px ;
}

.foto-opgraving {

    width: 600px;
    margin-top: -1000px;
    margin-bottom: 450px;
    margin-left: 1120px;
}

.foto-expeditie {
    width: 600px;
    margin-top: -900px;
   margin-left: 1120px;
}

.foto-rijn {
    width: 600px;
    margin-left: 400px;
    margin-top: 200px;
}

.foto-maas {
    width: 600px;
    margin-left: 420px;
    margin-top: 150px;
}

.foto-schelde {
    width: 600px;
    margin-left: 400px;
    margin-top: 250px;
}

.p-gmekong {
    width: 500px;
    margin-left: -295px;
    margin-top: -20px;
   text-align: justify;
}

h3 {
    margin-left: 150px;
    margin-top: 150px;
}

/*watermanagement*/

.rms-m {
    width: 190px;
    margin-top: -2000px;
    margin-left: 1225px ;
}

.p4 {
    width: 500px;
   text-align: justify;
   margin-top: -30px;
   margin-left: 440px;
}

.foto-dammen {

    width: 800px;
    margin-top: -725px;
    margin-bottom: 450px;
    margin-left: 725px;
}

.foto-rmsdam {
    width: 800px;
    margin-left: 50px;
    margin-top: 50px;
    
}

.foto-driel {
    width: 800px;
    margin-left: 20px;
    margin-top: -50px;
}

.hide-show{
    margin-top: -60px;
    margin-left: -300px;
}



/*over mij*/
.gif {
    width: 600px;
    margin-top: 100px;
}

.instagram {
    position: relative;
    margin-top: -400px;
    margin-left: 1200px;
    padding-bottom: 100px;
}

.p-overmij {
    width: 500px;
    margin-left: -295px;
    margin-top: -150px;
   text-align: justify;
}

