/* KLEUR SCHEMA 
red: #E41A1B
blue: #85BEC3
green: #BBDB9B
gray: #BEC5AD
*/


/* FONTS */
@font-face{
    src: url(fonts/bahnschrift.ttf);
    font-family: bahnschrift;
}
@font-face{
    src: url(fonts/Bebas-Regular.ttf);
    font-family: bebas;
}
@font-face{
    src: url(fonts/theboldfont.ttf);
    font-family: theboldfont;
}


/* FONT STYLES */
.heading{
    font-size: 50px;
    font-family: bebas;
}

.paragraph {
    font-size: 15px;
    font-family: bahnschrift;
}

.navigatie {
    font-size: 30px;
    font-family: bebas;
    color: white;
    padding: 25px;
    
}


/* BANNER*/

.index-banner{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.index-banner2{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel2_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.index-banner3{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel\ 3_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 


.index-banner4{
    width: 100%; 
    height: 100vh;
    background-image: url(background/banner\ snel\ 4_Tekengebied\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.index-banner h1 {
    font-size: 95px;
    font-family: bebas;
    color: #E41A1B;
    text-align: center;
}

.index-banner h2 {
    font-size: 95px;
    font-family: bebas;
    color: white;
    text-align: center;
}

.index-banner2 h1 {
    font-size: 95px;
    font-family: bebas;
    color: #E41A1B;
    text-align: center;
}

.index-banner2 h2 {
    font-size: 95px;
    font-family: bebas;
    color: white;
    text-align: center;
}


.index-banner3 h1 {
        font-size: 95px;
        font-family: bebas;
        color: #E41A1B;
        text-align: center;
    }   
   
   
.index-banner3 h2 {
        font-size: 95px;
        font-family: bebas;
        color: white;
        text-align: center;
    }

.index-banner4 h1 {
        font-size: 95px;
        font-family: bebas;
        color: #E41A1B;
        text-align: center;
    }   
    
    
.index-banner4 h2 {
        font-size: 95px;
        font-family: bebas;
        color: white;
        text-align: center;
    }
   

.center-1 {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 45%;
    left: 50%;
    margin-left: -250px; 
    margin-top: -25px; }

 .center-2 {
        position: absolute;
        width: 500px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-left: -250px; 
        margin-top: -25px; }


.watermanagment-center {
            position: absolute;
            width: 500px;
            height: 100px;
            top: 45%;
            left: 50%;
            margin-left: -310px; 
            margin-top: -25px; }

.watermanagment-center2{
    position: absolute;
        width: 500px;
        height: 100px;
        top: 50%;
        left: 50%;
        margin-left: -310px; 
        margin-top: -25px; 
}


/* INLEIDING */        

.block{
    background-color: #bec5ad;
    color: white;
    padding: 60px;
    height: 200px;

}

h1 {
    text-align: center;
    font-family: bebas;
    margin-top: -20px;
}

p { 
    width: 500px;
    margin-left: 370px;
    text-align: justify;
}

/* MEKONG */
.p {
    width: 500px;
    margin-left: -270px;
    margin-top: -20px;
   text-align: justify;
}

h2{
    margin-left: 100px;
    margin-top: 150px;
}
/* RMS */
.p2 {
    width: 500px;
    margin-left: 350px;
   text-align: right;
   margin-top: -30px;
}

.rms {
    margin-left: 1150px;
    margin-top: -500px;
}

/* logo */

.logo{
    width: 90px;
   
}

.foto-mekong {
    width: 600px;
    margin-top: -1900px;
    margin-bottom: -80px;
    margin-left: 900px;
    
}


.foto-rms{
    width: 600px;
    margin-left: 265px;
    margin-top: 150px;
}


